<article>
  <section>
    <h2>名前</h2>
    <p>mihirogi</p>
  </section>
  <section>
    <h2>Github</h2>
    <p><a href="https://github.com/mihirogi">https://github.com/mihirogi</a></p>
  </section>
  <section>
    <h2>できること</h2>
    <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
  </section>
  <section>
    <h2>やりたいこと</h2>
    <p>ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
  </section>
</article>
