@mixin getPadding($top, $right, $bottom, $left) {
  $paddingMap: (
    zero:0px,
    small:8px,
    midium:12px,
    large:16px
  );
  padding: map_get($paddingMap, $top) map_get($paddingMap, $right) map_get($paddingMap, $bottom) map_get($paddingMap, $left);
}

@mixin getMargin($top, $right, $bottom, $left) {
  $paddingMap: (
    zero:0px,
    small:8px,
    midium:12px,
    large:16px
  );
  margin: map_get($paddingMap, $top) map_get($paddingMap, $right) map_get($paddingMap, $bottom) map_get($paddingMap, $left);
}

