@import "scss/common";

nav {
  text-align: center;
  background-color: $secondaryColor;
  @include getElevation(weak);
  @include getMargin(zero, zero, small, zero);

  a {
    display: inline-block;
    text-decoration: none;
    line-height: 55px;
    @include getFontSize(midium);
    width: 33.3%;
    color: $onSurface;
    border-bottom: solid 5px $secondaryColor;
  }

  .link-active {
    border-bottom: solid 5px $onSurface;
  }

  // マウスデバイスのときのみ、hoverを有効にする
  @media(hover: hover) {
    a:hover {
      background-color: $primaryColorLight;
      border-bottom: solid 5px $primaryColorLight;
    }
  }
}
