<article>
  <section>
    <h2>アプリ名</h2>
    <p>
      ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
    </p>
  </section>
  <section>
    <h2>アプリ名</h2>
    <p>
      ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
    </p>
  </section>
  <section>
    <h2>アプリ名</h2>
    <p>
      ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
    </p>
  </section>
</article>
