// https://material.io/tools/color/#!/?view.left=0&view.right=1&primary.color=f4b4cf&secondary.color=85B667
$primaryColor: #F4B4CF;
$primaryColorLight: #ffe6ff;
$primaryColorDark: #c1849e;
$secondaryColor: #85B667;
$secondaryColorLight: #b6e896;
$secondaryColorDark: #56863b;
$backgroundColor: #AEC4E6;
$surface: #FFFFFF;
$onSurface: #000000;
