@mixin getFontSize($size:maxPercentage) {
  $sizeMap: (
    small:16px,
    midium:24px,
    large:28px,
    xLarge:32px,
    xxLarge:36px,
    maxPercentage:100%
  );
  font-size: map-get($sizeMap, $size);
}
